<!DOCTYPE html>
<html>
  <head>
    <title>FOND</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render template: "layouts/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render template: "layouts/footer" %>
  </body>
</html>
