<header>
  <nav class="container">
    <%= link_to 'ニューポスト', new_micropost_path %>
    <%= link_to 'オールポスト', microposts_path %>
    <%= link_to 'オールユーザー', users_path %>
    <% if user_signed_in? %>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
    <% end %>
  </nav>
</header>