<header>
  <div class="container_Header">
  <div class="container_Titlelog">
    <nav class="side_navbar">
    <button data-menu-toggle>FOND</button>
    <div class="navbar-menu" id="menu">
      <div class="navbar-menu-overlay" data-menu-toggle>
        <div class="navbar-menu-body">
          <ul class="navbar-link-list">

            <li class="navbar-link-item">
              <%= link_to 'オールポスト', microposts_path, class: "navbar-link-item" %>
            </li>
            <li class="navbar-link-item">
              <%= link_to 'ニューポスト', new_micropost_path, class: "navbar-link-item" %>
            </li>
            <li class="navbar-link-item">
              <%= link_to 'オールユーザー', users_path, class: "navbar-link-item" %>
            </li>

            <% if user_signed_in? %>
              <li class="navbar-link-item">
                <%= link_to 'プロフィール', users_path, class: "navbar-link-item" %>
              </li>
              <li class="navbar-link-item">
                <%= link_to 'エディット', edit_user_registration_path, class: "navbar-link-item" %>
              </li>
              <hr class="solid">
              <li class="navbar-link-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
            
              <hr class="solid">
              <li class="navbar-link-item">
                <%= link_to 'サインアップ', new_user_registration_path, class: "navbar-link-item" %>
              </li>
              <li class="navbar-link-item">
                <%= link_to 'ログイン', new_user_session_path, class: "navbar-link-item" %>
              </li>

            <% end %>
          </ul>
          <button data-menu-toggle>CLOSE</button>
        </div>
      </div>
    </div>
  </nav>
  </div>
  </div>
  <div class="container_Header_nav">
    <div class="container_Search">
    </div>
    <div class="container_Like">
    </div>
  </div>
  <div class="container_Category">
  </div>
  <div class="notification">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</header>
